.projects-container {
  display: flex;
  /* height: 100vh; */
  margin-top: 10rem;
  flex-direction: column;
}
.projects-title {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  text-decoration: underline;
  text-decoration-color: var(--color-dark);
}

.projects-title > :nth-child(1) {
  font-weight: bold;
  font-size: 4.8rem;
}
.projects-title > :nth-child(2) {
  font-weight: bold;
  font-size: 2rem;
}
.projects-title > :nth-child(3) {
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.underline {
  height: 0.25rem;
  width: 5rem;
  background: #49a6e9;
  background: var(--color-dark);
  margin-left: auto;
  margin-right: auto;
}

.projects-card {
  display: flex;
  justify-content: center;
}

/*Tablet-Landscape width < 1200px, 1rem = 9px*/
@media (max-width: 75em) {
}
/*Tablet-Port width < 900px, 1rem = 8px*/
@media (max-width: 56.25em) {
  .projects-container {
    gap: 2rem;
    margin-top: 0;
  }
}
/*Phone-Large width < 600px, 1rem = 6.5px*/
@media (max-width: 37.5em) {
  /* .projects-container {
    height: 90vh;
  } */
}
/*Phone-medium width < 480px, 1rem = 5px*/
@media (max-width: 30em) {
  /* .projects-container {
    height: 80vh;
  } */
}
/*Phone-Small width < 390px, 1rem = 4px*/
@media (max-width: 24.375em) {
  /* .projects-container {
    height: 70vh;
  } */
}
