.hero {
  display: flex;
  height: 77vh;
  margin: 12rem 5rem 0 5rem;
  font-size: 1.6rem;
}
.hero-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 3.2rem;
  margin-top: 4rem;
}
.hero-name {
  display: flex;
  flex-direction: column;
}
.hero-right {
  flex: 1;
  position: relative;
  margin-top: 15rem;
}
.hero-right img {
  /* position: absolute;
  z-index: 1; */
  max-width: 100%;
  height: auto;
}

.hero-name > :nth-child(1) {
  font-weight: bold;
  font-size: 4.8rem;
}
.hero-name > :nth-child(2) {
  color: var(--color-dark);
  font-weight: bold;
  font-size: 3.6rem;
}
.hero-name > :nth-child(3) {
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.hero-btn {
  padding: 1rem 2.5rem;
  width: fit-content;
  height: 4.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-container {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}

.hero-btn a {
  color: var(--color-primary);
  font-size: 2rem;
}
.hero-icons {
  margin-top: 0.8rem;
  display: flex;
  gap: 2rem;
  font-size: 4rem;
}
.hero-icons a {
  color: var(--text-color-primary);
}

.hero-icons > *:hover {
  cursor: pointer;
  color: var(--color-secondary);
}

/* width < 1920px, 1rem = 9px*/
@media (max-width: 120em) {
  .hero {
    width: 100%;
    margin: 0rem 5rem 0 5rem;
    height: 70vh;
    align-items: center;
  }
  .hero-right {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 112.5em) {
  .hero-btn a {
    font-size: 1.5rem;
  }
  .hero-right {
    margin-top: 8rem;
  }
}
/*Tablet-Landscape width < 1200px, 1rem = 9px*/
@media (max-width: 75em) {
}
/*Tablet-Port width < 900px, 1rem = 8px*/
@media (max-width: 56.25em) {
  .hero {
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 7rem;
    padding: 10rem 0;
    margin: 0;
  }
  .hero-name {
    margin: 0 5rem;
  }
  /* .hero {
    margin: 0;
    height: 100%;
    padding: 15rem 0;
  }
  ..hero-name {
    margin: 0 5rem;
  }
  */
  .hero-left {
    align-items: center;
    justify-content: center;
    order: 1;
    flex: 5;
  }
  .hero-name {
    text-align: center;
    margin: 0 5rem;
  }
  .hero-right {
    flex: 1 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-right img {
    max-width: 70%;
  }
  .hero-name > :nth-child(3) {
    font-size: 2.5rem;
  }
  .hero-name > :nth-child(1) {
    font-size: 5rem;
  }
  .action-container {
    flex-direction: column;
    row-gap: 2rem;
  }
}
/*Phone-Large width < 600px, 1rem = 6.5px*/
@media (max-width: 37.5em) {
  .action-container {
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .hero {
    margin: 0;
    height: 100%;
    padding: 15rem 0;
  }
  .hero-name {
    margin: 0 5rem;
  }
}
/*Phone-medium width < 480px, 1rem = 5px*/
@media (max-width: 30em) {
  .hero-right {
    margin: 0;
    flex: 0.5;
  }
  .hero-right img {
    max-width: 75%;
  }
  .hero-left {
    flex: 0.2;
  }

  .hero-name {
    gap: 1rem;
  }

  .action-container {
    flex-direction: column;
    row-gap: 4rem;
  }
  .hero {
    margin: 0;
  }
  .hero-name {
    margin: 0 5rem;
  }
  .hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 10rem;
  }
  .hero-btn a {
    font-size: 2.5rem;
  }
}
/*Phone-Small width < 390px, 1rem = 4px*/
@media (max-width: 24.375em) {
  /* .hero {
    height: 30vh;
  } */
  .action-container {
    flex-direction: column;
    row-gap: 1.5rem;
  }

  .hero {
    margin: 10rem 0 0 0;
  }
  .hero-name {
    margin: 0 5rem;
  }
}
