.nav-container {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin: 0 5rem 0 5rem;
}
.nav-left {
  flex: 0.5 1 0%;
  align-items: center;
  display: flex;
  gap: 2rem;
}
.nav-name {
  font-weight: bold;
  font-size: 1.3rem;
}

.nav-right,
.nav-left,
.nav-name {
  font-size: 1.6rem;
}
.nav-right {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  margin-right: 15rem;
}

.nav-list {
  flex: 10;
}
.nav-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 6.4rem;
  justify-content: center;
}
.nav-list > ul > li > a {
  color: var(--text-color-primary);
}
.nav-list > ul > li > a:hover {
  cursor: pointer;
  color: var(--color-background);
}
.nav-btn {
  flex: 1.5 1 0%;
}

.nav-line {
  display: flex;
  flex-direction: column;
  right: 0rem;
  top: 6.25rem;
  position: absolute;
  width: 100%;
  left: -5rem;
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  backdrop-filter: blur(5px);
  z-index: 3;
}

/*Tablet-Landscape width < 1200px, 1rem = 9px*/
@media (max-width: 75em) {
  .nav-btn {
    height: 1.5rem;
  }
}
/*Tablet-Port width < 900px, 1rem = 8px*/
@media (max-width: 56.25em) {
  .nav-container {
    height: 8vh;
  }
  .nav-btn {
    display: none;
  }
}
/*Phone-Large width < 600px, 1rem = 6.5px*/
@media (max-width: 37.5em) {
  .nav-container {
    height: 6vh;
  }
  .nav-btn {
    display: none;
  }
}
/*Phone-medium width < 480px, 1rem = 5px*/
@media (max-width: 30em) {
  .nav-container {
    height: 4vh;
  }
  .nav-btn {
    display: none;
  }
}
/*Phone-Small width < 390px, 1rem = 4px*/
@media (max-width: 24.375em) {
  .nav-container {
    height: 3vh;
  }
  .nav-btn {
    display: none;
  }
}
